<a href="https://colab.research.google.com/github/Yelstin28/IA-Colaboratory_ULEAM/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/Sinchiguano/chicagoUniversity/main/cta_Ridership.csv'
cta_Ridership=pd.read_csv(url)
cta_Ridership.head(3)

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270

In [ ]:
from pandas.core.dtypes.dtypes import dtypes
#BASIC EXPLORATION
# for basic exploration, we suggest to use shape, head(), tail(), dtypes, type() modul
# your code here
print(cta_Ridership.tail(5))
cta_Ridership.head(5)
print('-----------------------')
print(cta_Ridership.dtypes)
print('-----------------------')
print(type(cta_Ridership))
print(cta_Ridership.index)
print(cta_Ridership.columns)

         station_id        stationname        date daytype  rides
1145581       41700  Washington/Wabash  12/27/2022       W   3991
1145582       41700  Washington/Wabash  12/28/2022       W   4100
1145583       41700  Washington/Wabash  12/29/2022       W   4741
1145584       41700  Washington/Wabash  12/30/2022       W   4664
1145585       41700  Washington/Wabash  12/31/2022       A   2774
-----------------------
station_id      int64
stationname    object
date           object
daytype        object
rides           int64
dtype: object
-----------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=1145586, step=1)
Index(['station_id', 'stationname', 'date', 'daytype', 'rides'], dtype='object')

In [ ]:
#What are some basic statistics about the data?
# use the describe module
# your code here
print(cta_Ridership.head())
print(' ')
cta_Ridership['rides'].describe()

   station_id       stationname        date daytype  rides
0       41280    Jefferson Park  12/22/2017       W   6104
1       41000  Cermak-Chinatown  12/18/2017       W   3636
2       40280      Central-Lake  12/02/2017       A   1270
3       40140   Dempster-Skokie  12/19/2017       W   1759
4       40690          Dempster  12/03/2017       U    499

count    1.145586e+06
mean     3.056635e+03
std      3.118576e+03
min      0.000000e+00
25%      9.630000e+02
50%      2.004000e+03
75%      4.025000e+03
max      3.632300e+04
Name: rides, dtype: float64

In [ ]:
# use the min() and max() modules
# your code here
cta_Ridership['rides'].mean()

3056.635315899461

In [ ]:
cta_Ridership['rides'].min()

0

In [ ]:
cta_Ridership['rides'].max()

36323

In [ ]:
cta_Ridership.corr()

<ipython-input-21-a13edc57d29f>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  cta_Ridership.corr()

            station_id     rides
station_id    1.000000  0.038398
rides         0.038398  1.000000

In [ ]:
#Create a Time Index
#So we have all rides from January 1, 2001 to December 31, 2019. Let's do some statistics that group ride statistics by date. First we need to tell
#your code here
cta_Ridership['date'] = pd.to_datetime(cta_Ridership['date'])
start_date = pd.to_datetime('2001-01-01')
end_date = pd.to_datetime('2019-12-31')
filtered_rider = cta_Ridership[( cta_Ridership['date'] >= start_date) & ( cta_Ridership['date'] <= end_date)]
filtered_rider.set_index('date', inplace=True)
print(filtered_rider)

In [ ]:
# hint, sort_values(by='date')
# your code here
cta_Ridership = filtered_rider.sort_values('date')
print(cta_Ridership)